{% extends 'layouts/base.html'%} {% block content %} {% load static %}
<br>
<!-- Card deck -->
<div class="card-deck">

    <!-- Card -->
    <div class="card mb-6">

        <!--Card image-->
        <div class="view overlay">
            <img class="card-img-top" src="" alt="Card image cap">
            <a href="#!">
                <div class="mask rgba-white-slight"></div>
            </a>
        </div>

        <!--Card content-->
        <div class="card-body">

            <!--Title-->
            <h4 class="card-title">Espace banques</h4>
            <!--Text-->

            <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->


            <a href="{% url 'banks:connexion_bank' %}">
                <button type="button" class="btn btn-light-blue btn-md">Connection banque</button>
            </a>
        </div>

    </div>
    <!-- Card -->

    <!-- Card -->

    <!-- Card -->

    <!-- Card -->
    <div class="card mb-6">

        <!--Card image-->
        <div class="view overlay">
            <img class="card-img-top" src=a lt="Card image cap">
            <a href="#!">
                <div class="mask rgba-white-slight"></div>
            </a>
        </div>

        <!--Card content-->
        <div class="card-body">

            <!--Title-->
            <h4 class="card-title">Espace clients</h4>
            <!--Text-->

            <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
            <a href="{% url 'banks:connexion_users' %}">
                <button type="button" class="btn btn-primary btn-md">Connexion client</button>
            </a>
        </div>

    </div>
    <!-- Card -->

</div>
{% endblock %}
<!-- Card deck -->
<!-- Card -->