{% extends 'layouts/base.html'%} {% block content %}


<br>
<!-- Card deck -->
<!-- Card deck -->
<div class="card-deck">

    <!-- Card -->
    <div class="card mb-4">

        <!--Card image-->
        <div class="view overlay">
            <img class="card-img-top" src="">
            <a href="#!">
                <div class="mask rgba-white-slight"></div>
            </a>
        </div>

        <!--Card content-->
        <div class="card-body">

            <!--Title-->
            <h4 class="card-title">Créér un compte ou Supprimer un compte</h4>
            <!--Text-->

            <a href="{% url 'banks:inscription_users' %}">
                <button type="button" class="btn btn-light-blue btn-md">Valider</button>
            </a>

        </div>

    </div>
    <div class="card mb-4">

        <!--Card image-->
        <div class="view overlay">
            <img class="card-img-top" src="">
            <a href="#!">
                <div class="mask rgba-white-slight"></div>
            </a>
        </div>

        <!--Card content-->
        <div class="card-body">

            <!--Title-->
            <h4 class="card-title">Supprimer un utilisateur</h4>

            <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->


            <a href="{% url 'banks:suppression_users' %}">

                <button type="button" class="btn btn-light-blue btn-md">Valider</button>

            </a>

        </div>

    </div>
    <!-- Card -->
    <div class="card mb-4">

        <!--Card image-->
        <div class="view overlay">
            <img class="card-img-top" src="" alt="Card image cap">
            <a href="#!">
                <div class="mask rgba-white-slight"></div>
            </a>
        </div>

        <!--Card content-->
        <div class="card-body">

            <!--Title-->
            <h4 class="card-title">Afficer les informations sur les comptes et clients</h4>
            <!--Text-->

            <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->


            <a href="{% url 'banks:table_bank' %}">

                <button type="button" class="btn btn-light-blue btn-md">Valider</button>

            </a>

        </div>

    </div>

    <!-- Card -->

</div>
{% endblock %}
<!-- Card deck -->